html, body {
    height: 100%;
}
body {
    background: url(Screenshot_1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
   }
.text{
    font-family: Monda;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 40px;
    
    color: #FFFFFF;
    }
